{% extends 'eat_decisive/base.html' %}

<!DOCTYPE html>

{% load staticfiles %}

{% block title %}Page not found{% endblock %}

{% block body_block %}
  <div class="container-fluid">
    <span class="landingpage">
      <div class="row">
        <div class="col-xs-12">
          <div class="transbox">
            <h1 class="titlecenter">Looks like we're in a (book) bind.</h1>
            <p>Sorry, but the requested page could not be found. <a href="{% url 'readdecisive' %}"><br>Click here to flip back to Read Decisive.</a><br>“The person, be it gentleman or lady, who has not pleasure in a good novel, must be intolerably stupid.” ― Jane Austen</p>
          </div>
         </div>
        </div>
       </div>
    </span>
  </div>
{% endblock body_block %}