{% extends 'eat_decisive/base.html' %}

<!DOCTYPE html>

{% load staticfiles %}

{% block title %}Page not found{% endblock title %}

{% block body_block %}
  <div class="container-fluid">
    <span class="landingpage">
      <div class="row">
        <div class="col-xs-12">
          <div class="transbox">
            <h1 class="titlecenter">Looks like we're in a (book) bind.</h1>
            <p class="lead center">Oh dear, we seem to be unable to connect to Goodreads' API at this time. <a href="{% url 'readalternative' %}">Click here to try connecting to your Goodreads account by entering your username.</a><br>“Another thing I need to do, when I'm near the end of the book, is sleep in the same room with it...Somehow the book doesn't leave you when you're asleep right next to it.” ― Joan Didion</p>
          </div>
        </div>
      </div>
    </span>
 </div>
{% endblock body_block %}