{% extends 'eat_decisive/base.html' %}

    {% block body_block %}
  <div class="container-fluid">
    <div class="login transbox centered">

  	<div class="row">
      <div class="col-xs-12">
        <form id="login_form" method="post" action="/eat_decisive/login/">
            Welcome back! Please log in.<br><br>
            {% csrf_token %}
            Username: <input type="text" name="username" value="" size="20" />
            <br />
            <br />
            Password: <input type="password" name="password" value="" size="20" />
            <br />

        </form>
      </div>
    </div>
 </div>
             <div class="centered">
              <input type="submit" id="submit" class="ghost-button" value="Log in"></input>
            </div>
</div>
    {% endblock %}
