{% extends 'eat_decisive/base.html' %}

<!DOCTYPE html>

{% load staticfiles %}
{% block title %}Read Decisive{% endblock title %}

{% block navbar %}
      <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" id="branded" href="{% url 'readdecisive' %}">Read Decisive</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'eat_index' %}">Back to Eat Decisive</a></li>

          </ul>
        </div>
      </div>
    </nav>
{% endblock navbar %}

{% block body_block %}

<body>

  <div class="container-fluid">
    <span class="landingpage">
      <div class="row">
        <div class="col-xs-12">
          <div class="transbox">
            <h1 class="titlecenter">READ * DECISIVE</h1>
            <p class="lead center">
              We randomly picked a book from <a href="https://www.goodreads.com/book/most_read">Goodreads' Most Read Books!</a> The Internet gods have determined that your next book should be...<span class="bookchoice"><a href="{{ winnerurl }}">{{ winnerbook }}</a></span><br><br>
            <a href="{{ winnerurl }}">Read the reviews</a> on Goodreads.<br><br>
            Don't feel like reading that book? <a href="{% url 'randompopularbook' %}">Get another recommendation.</a></p>

            </p>
          </div>
          <form action="/goodreadslogin/">
          <div class="centered">
            <input type="submit" class="ghost-button" value="Authorize access to your Goodreads account"></input>
          </div>
          </form>
            </div>
            </div>
          
    </span>

 
  </div>

{% endblock body_block %}
