{% extends 'eat_decisive/base.html' %}

<!DOCTYPE html>

{% load staticfiles %}
{% block title %}Read Decisive{% endblock title %}

{% block navbar %}
      <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" id="branded" href="{% url 'readdecisive' %}">Read Decisive</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'eat_index' %}">Back to Eat Decisive</a></li>

          </ul>
        </div>
      </div>
    </nav>
{% endblock navbar %}

{% block body_block %}

<body>

  <div class="container-fluid">
    <span class="landingpage">
      <div class="row">
        <div class="col-xs-12">
          <div class="transbox">
            <h1 class="titlecenter">READ * DECISIVE</h1>
            <p class="lead center">Hello, {{ name }}!<br>Here's your very random, very awesome book recommendation (haphazardly selected from your Goodreads to-read shelf)!<br>
            Title: {{ title }}<br>
            Author: {{ author }}<br>
            Average rating of: {{ average_rating }}<br>
            <a href="{{ url }}">Read the reviews on goodreads here.</a><br>
            Don't feel like reading that book just yet? <a href="{% url 'randomtoread' %}">Click here to get another suggestion.</a></p>
          </div>
        </div>
      </div>
    </span>

  </div>

{% endblock body_block %}
