{% extends 'eat_decisive/base.html' %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/stylesheet.css" type="text/css" />

{% endblock %}

{% block body_block %}



<!---

dgkjad -->


<body>
  {% if not fail_message %}
  <div class="container-fluid">
    <span class="landingpage">
      <div class="row">
        <div class="col-xs-12">
          <div class="transbox">
          <div id="success"> <p>{{ answer }}</p> </div>
          </div>
    </span>

    <div class="centered">
      <a class="ghost-button" id="return" href="{% url 'eat_index' %}" role="button">Take me back...I have more decisions to make!</a>

    </div>      
{% else %}
  <div class="container-fluid">
    <span class="landingpage">
      <div class="row">
        <div class="col-xs-12">
          <div class="transbox">
          	<p> {{ fail_message }} </p>
          </div>
        </div>
      </div>
    </span>
  </div>
      <div class="centered">
      <a class="ghost-button" id="return" href="{% url 'eat_index' %}" role="button">Take me back...I have more decisions to make!</a>
    </div>      
{% endif %}
  </div>
</div>

{% endblock %}